:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 19.36px;
  --line-height-m:  24.2px;
  --line-height-l:  29.05px;
  font-weight: 400;
  font-size: 16px;
  --font-size-l: 20px;

  --header-color: #FFFFFF;
  --header-color-focus: #FFF852;
  --body-color: #000000;
  --footer-color: #FFFFFF;
  --button-color: #FFFFFF;
  --button-color-focus: #000000;

  --header-background-color: #2C2C2C;
  --body-background-color: #F1F1F1;
  --button-background-color-focus: #FFF852;
  --button-background-color: #000000;
  --footer-background-color: #000000;

  --border-filters:1px;
  --border-radius-filters:7px;
  --border-color: #9B9B9B;
  --aux-Color :#dddd;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--header-background-color);
  padding: 1rem;
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--header-color);
}

.logo{
  z-index: 1;
}

.logo img {
  height: 40px;
  z-index: 1;
}

.menu {
  width: var(--spacing);
  display: none;
  cursor: pointer;
  z-index: 2;
  margin: auto;
}

.menu > img {
  width: 100%;
  margin: auto;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ nav {
  width: 50%;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: auto;
}

nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

nav ul li a:hover{
  color: var(--header-color-focus);
  border-bottom: 1px solid  var(--header-color-focus);
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.icons {
  display: flex;
  align-items: right;
}

.icons a {
  margin-left: 1rem;
}

.icons img {
  height: 24px;
  width: 24px;
}

#divImageMainElement{
  width: 100%;  /* o el ancho que necesites */
  height: 250px;  /* o la altura que necesites para la franja */
  overflow: hidden;  /* oculta las partes de la imagen que sobresalgan del contenedor */
  position: relative;  /* posición relativa para posicionar la imagen absolutamente dentro */
  display: flex;  /* permite usar align-items para centrar verticalmente */
  align-items: center; 
}

#imageMainElement{
  width: auto;  /* mantiene la relación de aspecto original */
  height: auto;  /* ajusta la imagen a la altura del contenedor */
  position: absolute;  /* posición absoluta para centrar exactamente como queremos */
  left: 50%;  /* mueve la imagen al centro horizontalmente */
  transform: translateX(-50%) translateY(-5%);
}

#filterButtonDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: var(--body-background-color);
}

#filterButton {
  border: 0px;
}

#filterButton img{
  border: 0px;
  background-color: transparent;
  background-size: contain;
  width: 45px; 
  height: 24px; 
  border-radius: 100%;
  margin: auto;
  background-color: var(--body-background-color);
  margin-top: 10px;
  margin-bottom: -12px;
}

.filterFormContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background-color: var(--body-background-color);
  margin-top: 10px;
}

.filter{
  box-sizing: border-box;
  border: var(--border-filters) solid var(--border-color);
  border-radius: var(--border-radius-filters);
  height: 30px;
  min-width: 70px;
  margin: 2px 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
}

#brandFilter{
  appearance: none;
  width: 150px;
  text-align: center;
}

#priceFilter{
  appearance: none;
}

.innerButtonFilter{
  background-color: var(--aux-Color);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--aux-Color);
  width: 250px;
  min-width: 250px;
  height: 330px;
  transition: transform 0.3s;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: var(--border-radius-filters);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color: var(--body-background-color);
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product:hover {
  transform: scale(1.02);
}

#cardBrandText{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

#detailsCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

#detailsCard p {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 20px;
}

.product >button {
  padding: 0.5rem 1rem;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: 2px solid var(--body-background-color);
  cursor: pointer;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: var(--border-radius-filters);
}

.product > button:hover {
  background-color: var(--button-background-color-focus);
  color:var(--button-color-focus);
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

#footerMenu{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#footerMenu ul{
  display: flex;
  flex: 1 1 1;
  flex-direction: column;
  align-items: flex-start;
}

#footerMenu ul li{
  display: block;
}

#footerMenu ul li h4{
  margin-top: 0px;
  margin-bottom: 2px;
}

#footerMenu ul li a{
  display: block;
}

@media (max-width: 835px) {
  #filterModal{
    display: flex;
    flex: 100%;
    flex-direction: row;
    width: auto;
  }

  .filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .nav-container > nav {
      position: absolute;
      top: 0;
      height: 100svh;
      right: 0;
      width: 0px;
      padding-top: 120px;
      overflow: hidden;
      background-color:var(--header-background-color);
      z-index: 1;
      transition: all 0.5s;
  }
  .nav-container > nav > ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      justify-items: center;
      height: 60%;
  }
  .menu {
      display: block;
  }
  #footerMenu {
    flex-direction: column;
    align-items: center; 
    width: 100%; 
  }
  #footerMenu ul{
    width: 200px;
  }
}

@media (min-width: 836px) {
  #checkbox:checked ~ nav {
      width: auto;
      background-color: var(--header-background-color);
      z-index: 1;
  }
}

@media (max-width: 450px) {
  #checkbox:checked ~ nav {
      width: 75%;
      background-color: var(--header-background-color);
  }

}
