:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 19.36px;
  --line-height-m:  24.2px;
  --line-height-l:  29.05px;
  font-weight: 400;
  font-size: 16px;
  --font-size-l: 20px;

  --header-color: #FFFFFF;
  --header-color-focus: #FFF852;
  --body-color: #000000;
  --footer-color: #FFFFFF;
  --button-color: #FFFFFF;
  --button-color-focus: #000000;

  --header-background-color: #2C2C2C;
  --body-background-color: #F1F1F1;
  --button-background-color-focus: #FFF852;
  --button-background-color: #000000;
  --footer-background-color: #000000;

  --border-filters:1px;
  --border-radius-filters:7px;
  --border-color: #9B9B9B;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

header {
  background-color: var(--header-background-color);
  padding: 1rem;
  text-align: center;
}

.logo img {
  height: 40px;
}

.mainProposals{
  margin-left: 70px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--header-color);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: var(--header-color-focus);
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.icons {
  display: flex;
  align-items: right;
}

.icons a {
  margin-left: 1rem;
}

.icons img {
  height: 24px;
  width: 24px;
}

#divImageMainElement{
  width: 100%;  /* o el ancho que necesites */
    height: 250px;  /* o la altura que necesites para la franja */
    overflow: hidden;  /* oculta las partes de la imagen que sobresalgan del contenedor */
    position: relative;  /* posición relativa para posicionar la imagen absolutamente dentro */
    display: flex;  /* permite usar align-items para centrar verticalmente */
    align-items: center; 
}

#imageMainElement{
  width: auto;  /* mantiene la relación de aspecto original */
    height: auto;  /* ajusta la imagen a la altura del contenedor */
    position: absolute;  /* posición absoluta para centrar exactamente como queremos */
    left: 50%;  /* mueve la imagen al centro horizontalmente */
    transform: translateX(-50%) translateY(-5%);
}

#filterButtonDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: #F1F1F1;
}

#filterButton {
  border: 0px;
}

#filterButton img{
  border: 0px;
  background-color: transparent;
  background-size: contain;
  width: 45px; 
  height: 24px; 
  border-radius: 100%;
  margin: auto;
  background-color: #F1F1F1;
  margin-top: 10px;
  margin-bottom: -12px;
}

.filterFormContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background-color: #F1F1F1;
  margin-top: 10px;
}

.filter{
  box-sizing: border-box;
  border: var(--border-filters) solid var(--border-color);
  border-radius: var(--border-radius-filters);
  height: 30px;
  min-width: 70px;
  margin: 2px 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
}

#brandFilter{
  appearance: none;
  width: 150px;
  text-align: center;
}

#priceFilter{
  appearance: none;
}

.innerButtonFilter{
  background-color: #F6F6F6;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 200px;
  height: 350px;
  transition: transform 0.3s;
  text-align: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product:hover {
  transform: scale(1.02);
}

.product h2 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.product p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.product >button {
  padding: 0.5rem 1rem;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: none;
  cursor: pointer;
  margin-top: auto;
}

.product > button:hover {
  background-color: var(--button-background-color-focus);
  color:var(--button-color-focus);
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}